[Unit]
Description=irssi IRC client in tmux
After=network.target on4kst-irc-bridge.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=pi
ExecStart=tmux new-session -d -s irssi irssi
ExecStop=/bin/sh -c 'tmux kill-session -t irssi || true'

[Install]
WantedBy=multi-user.target
